<html>
<head>
</head>
<body>
<div class="row align-items-center">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
    <p>The objective of the Mapping the Arctic Data Ecosystem project is to establishing a map of the arctic data
      management “ecosystem” or “universe”. This is both a concept map indicating projects, services and relationships
      as
      well as a geographic map indicating location (in a future iteration). The project was started during the first
      meeting of the ADC in Potsdam, Germany, November 2014 and is an ongoing activity. The roadmap for this project
      includes establishing a linked open data end point that will allow people to query the database (i.e. using
      SPARQL).
      The prototype database and visualization tool is provided through this site. If you are interested in providing
      feedback on the prototype, please use the contact informatio provided below.</p>
    <p>
      In June of 2016, the concept of mapping the Arctic data ecosystem were presented by task lead, Peter Pulsifer, the
      second meeting of the Belmont Forum Funded <a href="http://panarcticoptions.org/">Pan-Arctic Options Project</a>.
      Similar concepts were being discussed by the
      Pan-Arctic Options team and other initiatives under organizations such as the <a
        href="https://www.rd-alliance.org/groups/mapping-landscape-ig">Research Data Alliance</a> have recently
      emerged. Starting in early 2017, this activity is was carried out in collaboration with the Pan-Arctic Options
      project in partnership with a number of other polar and global cyberinfrastructure initiatives including <a
        href="https://arcticdc.org/activities/core-projects/federated-search">POLDER</a> and
      <a href="http://polarview.org/">Polar View</a>. In June of 2018 an agreement in principle was reached to work with
      our partners at the <a href="https://www.soos.aq/">Southern Ocean Observing System</a> to map the data ecosystem
      related to their community. Results will be posted here and
      elsewhere.
    </p>
    <p>
      The interactive maps provided through this site are under active development in collaboration with communities of
      practice and other partners. If you would like to contribute to the effort, please contact
      peter.pulsifer[at]colordo[dot].edu</p>
    <p>
      We greatly acknowledge the support of the U.S. National Science Foundation and other partners in developing this
      site.</p>
    <p>
      A more detailed discussion of the project can be found in a chapter that will be published late in 2019:<br/>
      Pulsifer, P.L. Kontar, Y., Berkman, P.A., Taylor, D.R.F. (2019). Chapter 12. Information Ecology to Map the Arctic
      Information Landscape. In <i>Sustainability of Shared Marine Regions. Volume 1. Governing Arctic Seas: Regional
      Lessons
      from the Bering Strait and Barents Sea</i>, edited by Oran R.Young, P.A. Berkman, P.A. and Alexander N.
      Vylegzhanin.
      Springer. In-press.
    </p>
  </div>
</body>
</html>