<html>
<head>

</head>
<body>
<div role="main" class="container">
  <div class="row align-items-center">
    <div class="col-sm-12">
      <p>Understanding the Arctic and broader polar environmental and social systems requires constant monitoring and
        access to the best available sources of data and information. This is particularly challenging in the Arctic
        region due to the complexity of the region in the face of significant environmental, economic and societal
        change. Identifying, documenting and, understanding the Arctic component of the global information system will
        allow us to target gaps in information resources, as well as guide the ongoing development of the increasingly
        interconnected global information system in support of governance, research, livelihoods and myriad other
        applications.</p>
      <p>
        The Mapping the Arctic Data Ecosystem project aims to use the established conceptual framework of information
        ecology (IE) as an analytical tool to help organize ideas and comprehend complexity of the Arctic Data
        Ecosystem. Here we define a data ecosystem as a system of interrelated and interdependent human actors,
        institutions, norms and practices (including standards), technologies, information objects, relationships and
        the broader socio-technical environment in which it exists.
        This website provides interactive visualizations of different elements of the Arctic and Antarctic data
        ecosystem(s). This initial prototype allows users to filter and visualize a database of nodes and relationships
        in the data ecosystem. As the database grows, additional analysis functions will be added.
      </p><p>
      Task lead: Peter Pulsifer, NSIDC/ELOKA, University of Colorado, USA
    </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <img class="img-fluid" src="/images/col1.png" alt="harvesting graph image">
    </div>
    <div class="col-md-4">
      <img class="img-fluid" src="/images/ADC.png" alt="ADC home page image">
      <p>The Mapping the Arctic Data Ecoystem project is led by the <a href="http://arcticdc.org/">Arctic Data Committee</a> and is developed through partnership with other organizations.</p>
    </div>
    <div class="col-md-4">
      <img class="img-fluid" src="/images/nations.png" alt="nations graph image">
      <p>The Arctic and Polar data ecosystem is made up of many programs, projects, organizations and communities at many scales from international to local.</p>
    </div>
  </div>
</div>
</body>
</html>