<html>
  <head>
  </head>
  <body>
    <script src="../d3-collection/d3-collection.js"></script>
    <script src="../d3-dispatch/d3-dispatch.js"></script>
    <script src="../d3-request/d3-request.js"></script>
    <script src="../d3-sparql/d3-sparql.js"></script>
    <script src="../javascripts/dataHelper.js"></script>
    <script src="../javascripts/d3.legend.js"></script>
    <svg width="960" height="650"></svg>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <textarea id="query" rows=15 cols=100>
      PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
      PREFIX org: <http://www.w3.org/ns/org#>
      PREFIX pdesclassification: <http://example.org/pdes-organization-classifications#>
      PREFIX vcard: <http://www.w3.org/2006/vcard/ns#>
      PREFIX pdes: <http://example.org/pdes#>

      SELECT ?subject ?object ?slabel ?linkType ?linkName ?olabel ?scountry ?ocountry ?sClassificationName ?oClassificationName
      WHERE {
        ?subject ?linkType ?object .
        ?subject rdfs:label ?slabel .
        ?object rdfs:label ?olabel .
        OPTIONAL {?subject org:classification ?sClassification .
          ?sClassification rdfs:label ?sClassificationName } .
        OPTIONAL {?object org:classification ?oClassification .
          ?oClassification rdfs:label ?oClassificationName } .
        OPTIONAL {?linkType rdfs:label ?linkName .
          FILTER (lang(?linkName) = "en")
        }
        ?subject org:hasPrimarySite ?site .
        ?site org:siteAddress ?siteAddr .
        ?siteAddr vcard:country-name ?scountry .
        ?object org:hasPrimarySite ?osite .
        ?osite org:siteAddress ?ositeAddr .
        ?ositeAddr vcard:country-name ?ocountry .
      }
    </textarea>
    <button type="button" class="filter-btn" id="sparqlQuery" value="1">New Graph</button>
    <button type="button" class="filter-btn" id="sparqlQueryFilter" value="1">Filter Graph</button>
    <script src="../javascripts/graph.js"></script>
  </body>
</html>